<div>
    <p class="truncated">{{ address.first_address }}</p>

    <p class="truncated">{{ address.second_address }}</p>

    <p class="truncated">{{ address.city }}, {{ address.state }}, {{ address.zip }}</p>

    <p class="truncated">{{ address.country }}</p>
</div>
