
<div class="product-header clrfix">
	{% if product.sku == "Catalog0001" %}
	{% else %}
    <div class="product-price clrfix">
        <div class="profit-price">
            {% if product.save_price > 0 %}
            <p>
                <span class="was-price">{{ product.retail_price | points_or_currency }}</span>
            </p>
            <p>
                You save
                <span class="save-price">{{ product.save_price | points_or_currency }}</span>
            </p>
            {% endif %}
        </div>
        {% if product.sku == "AS0103C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0104C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0155C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0140C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0141C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0135C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0154C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0136C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0152C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0153C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0095C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0096C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0131C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0132C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0099C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0100C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0133C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0134C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0144C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0145C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0092C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0093C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0150C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0151C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0142C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0143C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0138C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0139C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0146C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0148C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0147C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% elsif product.sku == "AS0149C" %}
        <div class="current-price">
            <span>As low as:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% else %}
        <div class="current-price">
            <span>Price:</span>
            {{ product.total_price | points_or_currency }}
        </div>
        {% endif %}
    </div>
	{% endif %}
    <div class="product-title">
        <h1 class="truncated">
            {{ product.name }}
        </h1>
        <span>sku: {{ product.sku }}</span>
    </div>
</div>
