<div class="product-page clrfix">
  {% if settings.show_breadcrumbs %}
    {% include 'breadcrumbs_section' %}

  {% endif %}
  <div class="product-page-main">
    <div class="product-header clrfix">
      <div class="product-price clrfix">
        <div class="profit-price">
          {% if product.save_price > 0 %}
            <p>
              <span class="was-price">{{ product.retail_price | points_or_currency }}</span>
            </p>
            <p>
              You save
              <span class="save-price">{{ product.save_price | points_or_currency }}</span>
            </p>
          {% endif %}
        </div>
        <div class="current-price">
          <span>Price:</span>
          {{ product.total_price | points_or_currency }}
        </div>
      </div>
      <div class="product-title">
        <h1 class="truncated">
          {{ product.name }}
        </h1>
        <span>sku: {{ product.sku }}</span>
      </div>
    </div>
    <div class="product-wrapper clrfix">
      <div class="product-left-section clrfix">
        <div class="product-info clrfix">
          <div class="product-gallery">
            <div class="gallery-main">
              <div class="main-img" data-id="{{ product.primary_image.id }}">
                {% try_it_on product %}
                {% view_logos product %}

                {% if product.primary_image %}
                  <a id="primary_image_link" href="{{ product.primary_image.large_url }}" rel="lightbox">
                    <img id="primary_image" src="{{ product.primary_image.large_url }}">
                  </a>
                {% else %}
                  <img id="primary_image_link" src="{{ "no-image.jpg" | asset_url }}">
                {% endif %}
              </div>
              <div class='images-wrapper'>
                {% if product.images.size > 1 %}
                  <a class="nav prev"></a>
                  <a class="nav next"></a>
                {% endif %}
                <div class='images-container'>
                  <ul class="clrfix images">
                    {% for image in product.images %}
                      <li class='image {% if image.primary? %} primary {% endif %}' data-id="{{ image.id }}">
                        <a href="{{ image.large_url }}" rel="lightbox"><img src="{{ image.thumb_url }}" class="small-thumb" data-fit='50' /></a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <script>
                $('div.images-wrapper').data('scrolling', new HorizontalScrolling({containerSelector: 'div.product-gallery div.gallery-main ul.images', itemClass: 'image', displayedCount: 4, itemWidth: 70}));
              </script>
            </div>
            <ul class="social-share clrfix">
              <li>
                <div class="g-plusone" data-size="medium">
                </div>
              </li>
              <li>
                <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function(d,s,id){
                    var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                    if(!d.getElementById(id)){
                      js=d.createElement(s);
                      js.id=id;
                      js.src=p+'://platform.twitter.com/widgets.js';
                      fjs.parentNode.insertBefore(js,fjs);
                    }
                  }(document, 'script', 'twitter-wjs');
                </script>
              </li>
              <li>
                <div class="fb-like" data-send="false" data-layout="button_count" style="padding-left:25px;" data-width="450" data-show-faces="true">
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-additional-info clrfix">
          <div class="product-reviews-container">
            {% if current_user %}
              <div class="add-review-button-container">
                <a class="add-review-btn btn_2" href="#">Write review</a>
              </div>
              <div class="add-review-form-container">
                <div class="product-reviews-header">
                  <a class="cancel-review" href="#">Cancel</a>
                  <label>Write a Review:</label>

                </div>
                {% include 'product_review_form' review: new_review %}
              </div>
            {% endif %}
            <div class="product-reviews">
              {% if product.reviews_count != 0 %}
              <div class="product-reviews-header">
                <label>Product Reviews</label>
                <div class="product-rating">
                  <span class=reviews-count>{{ product.reviews_count | pluralize: 'review', 'reviews' }}:</span>
                  {% include 'product_stars_rate' rate: product.average_rate %}
                </div>
              </div>
              <div class="horizontal-separator">
              </div>
              {% capture reviews_path %}{{product.url}}/reviews{% endcapture %}
              {% paginate product.approved_reviews by 5 remote: true, path: reviews_path %}
              {% for review in paginate.collection %}
                {% include 'product_review' review: review %}
              {% endfor %}

              {% include 'reviews_paginator' paginate: paginate %}
              {% endpaginate %}
              {% else %}
                <div class="product-reviews-header empty-set">
                  This product does not have any reviews. Be the first to leave a review.
                </div>
              {% endif %}
            </div>
          </div>
          <script type="text/javascript">
            $('div.product-reviews-container').data('productReviewsController', new ProductReviewsController('{{ product.url }}'));
          </script>
        </div>
      </div>

      <div class="product-right-section clrfix">
        <div class="product-info clrfix">


          {% form 'populate_product' %}
          <div class="line-items-reflective-view">
            {% assign user_has_logos = current_user && current_user.logos.size != 0 %}

            {% if logos.size > 0 %}
            <div class="prod_option_block">
              <div class="logo-info clrfix">
                <div class="form-item clrfix">
                  <div class='product-option-wrapper'>
                    <label>
                      Logo
                      {% if product.logo_required? %}*{% endif %}
                    </label>
                    <div class="select-area {% if shop.show_logos_as_thumbs? %}thumbnail{% endif %}">
                      <select data-type="virtual-logo" class="msdropdown-select">
                        <option value='' {% if shop.show_logos_as_thumbs? %}style="visibility:hidden; display: list-item;"{% endif %}>not specified</option>
                        {% for logo in logos %}
                          <option data-image="{{ logo.front_thumb_url }}" value="{{logo.id}}" {% if logo.id == form.logo_id  %} selected {% endif %}>{{ logo.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            {% if product.product_options_enabled? and product.options_or_groups != empty %}
            <div class="prod_option_block">
              <h3>Product Options</h3>
              <div class="product-options">
                {% for option_or_group in product.options_or_groups %}
                {% if option_or_group.group? %}
                {% include 'product_option_group' with option_or_group %}
                {% elsif option_or_group.option? %}
                {% include 'product_option' with option_or_group %}
                {% endif %}
                {% endfor %}

                {% if product.options_or_groups.multiple_quantity != empty %}
                <div class='product-option-wrapper form-item'>
                  {% if product.options_or_groups.multiple_quantity.size == 1 %}
                  {% assign option = product.options_or_groups.multiple_quantity[0] %}

                  <div class="multiple-quantity-product-option">
                    <label>{{ option.friendly_name }}</label>

                    {% for sub_option in option.sub_options %}
                      <div class="product-sub-option">
                        <label for="qnt_{{ sub_option.id }}">
                          {% include 'modifier', title: sub_option.name, amount: sub_option.amount %}
                        </label>

                        <input type="text" class="quantity" data-type="quantity"
                               name="product[grid][{{ sub_option.id }}][quantity]"
                               value="{{ form.grid[sub_option.id].quantity | default: 0 }}">

                        <span class="stock" id="stock_{{ sub_option.id }}"></span>
                      </div>
                    {% endfor %}
                  </div>
                  {% elsif product.options_or_groups.multiple_quantity.size == 2 %}
                  {% assign col = product.options_or_groups.multiple_quantity[0] %}
                  {% assign row = product.options_or_groups.multiple_quantity[1] %}

                  <div class="multiple-quantity-product-option">
                    {% assign cols_in_table = 4 %}
                    {% assign steps = col.sub_options.size | divided_by: cols_in_table %}

                    {% if steps < 1 %}{% assign steps = 1 %}{% endif %}

                    {% for step in (0..steps) %}
                    {% assign row_offset = step | times: cols_in_table  %}
                    {% assign step_offset = step | times: row.sub_options.size | times: cols_in_table %}

                    <table class="multiple-quantity-grid">
                      {% for sub_y in row.sub_options %}
                        {% if forloop.index0 == 0 %}
                          <tr>
                            <th></th>
                            {% for sub_x in col.sub_options offset: row_offset, limit: cols_in_table %}
                              <th>{% include 'modifier', title: sub_x.name, amount: sub_x.amount %}</th>
                            {% endfor %}
                          </tr>
                        {% endif %}

                        <tr>
                          {% for sub_x in col.sub_options offset: row_offset, limit: cols_in_table %}
                            {% if forloop.index0 == 0 %}
                              <th>{% include 'modifier', title: sub_y.name, amount: sub_y.amount %}</th>
                            {% endif %}

                            <td>
                              <input type="text" class="quantity" data-type="quantity"
                                     name="product[grid][{{ sub_x.id }}][{{ sub_y.id }}][quantity]"
                                     value="{{ form.grid[sub_x.id][sub_y.id].quantity | default: 0 }}">

                              <span class="stock" id="stock_{{ sub_x.id }}_{{ sub_y.id }}"></span>
                            </td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                    </table>
                    {% endfor %}
                  </div>
                  {% endif %}

                  {% if product.minimum_order_quantity > 0 or product.maximum_order_quantity > 0 %}
                    <div class='minimum-order-quantity-help'>
                      {% include 'quantity_limits_message', product: product %}
                    </div>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}

            {% if product.product_personalizations_enabled? %}
              <div class="prod_option_block">
                <h3>Product Personalizations</h3>
                {% for personalization in product.personalizations %}
                  <div class="product-personalization">
                    <h4>{% include 'modifier' title: personalization.title, amount: personalization.amount %}</h4>

                    {% for input in personalization.inputs %}
                      {% capture input_id %}product__product_personalizations_attributes_{{ personalization.id }}_product_personalization_attributes_attributes_{{ forloop.index0 }}_value{% endcapture %}

                      <div class="form-item clrfix">
                        <label for="{{ input_id }}">{{ input.label }}{% if input.required? %} *{% endif %}</label>

                        <div class="input string optional product_product_personalizations_product_personalization_value">
                          {% if input.text_area? %}
                            <textarea name="product[personalizations][{{ personalization.id }}][{{ input.id }}]"
                                      id="{{ input_id }}"
                                      data-type="product-personalization">{{ form.personalizations[personalization.id][input.id].value }}</textarea>
                          {% else %}
                            <input type="text" value="{{ form.personalizations[personalization.id][input.id].value }}"
                                   name="product[personalizations][{{ personalization.id }}][{{ input.id }}]"
                                   id="{{ input_id }}" class="input-text"
                                   data-type="product-personalization"/>
                          {% endif %}

                          {% if form.personalizations[personalization.id][input.id].errors %}
                            <span class="error" data-type="product-personalization-error">
                  {{ form.personalizations[personalization.id][input.id].errors | default_errors }}
                </span>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

          </div>




          <div class="total-info clrfix">
            {% if product.product_options_enabled? == false or product.options_or_groups.multiple_quantity == empty %}
              <span class="stock" id="stock"></span>
              <table class="product-quantity">
                <tfoot>
                <tr>
                  <th colspan='2'>Quantity</th>
                  <td id="quantity">
                    <input type="text" data-type="quantity" class="amount"
                           name="product[quantity]" value="{{ form.quantity | default: 1 }}"/>
                  </td>
                </tr>
                </tfoot>
              </table>
            {% endif %}

            {% include 'product_summary' %}

            <div class="add-to-cart-area">
              {% if shop.store_enabled? %}
                <input type="submit" name="add_to_cart" value="Add to Cart" class="btn"/>
                <br>
              {% endif %}
              {% if shop.wishlist_enabled? %}
                <input type="submit" name="add_to_wishlist" value="Add to Wishlist" class="btn"/>
              {% endif %}
            </div>
          </div>
          {% endform %}
        </div>

        <div class="product-additional-info clrfix">
          <div class="product-tabs">
            <ul class="clrfix">
              <li class="selected">
                <a href="javascript:void(0)" rel="tab-01">Overview</a>
              </li>
              {% if product.active_quantity_discount? and product. product.quantity_discounts != empty %}
                <li>
                  <a href="javascript:void(0)" rel="tab-02">Quantity Discounts</a>
                </li>
              {% endif %}
            </ul>
            <div class="tabs-body">
              <div id="tab-01" class="product-description powered-with-ckeditor">
                {{ product.description }}
              </div>
              {% if product.active_quantity_discount? %}
                <div id="tab-02" class="product-quantity-discounts powered-with-ckeditor" style="display: none;">
                  <table class="tab_2">
                    <tbody>
                    <tr>
                      <td><b>Quantity</b></td>
                      <td>
                        Base Price
                      </td>
                    </tr>
                    {% for quantity_discount in product.quantity_discounts %}
                      <tr>
                        <td>{{ quantity_discount.quantity }}</td>
                        <td>{{ quantity_discount.price | points_or_currency }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% if recently_viewed_products != empty %}
    <div class="product-page-right recently-viewed-products">
      <h4>
        Recently viewed:
      </h4>

      {% for product in recently_viewed_products limit: 4 %}
        {% include 'product' with product %}
      {% endfor %}
    </div>
    <script>
      $(function () {
          setup_carousels('.recently-viewed-products .product .image-carousel');
          bind_product_body_clicker('.recently-viewed-products', '.product');
        }
      );
    </script>
  {% endif %}
</div>

{% if product.enable_related_products? and product.related_products != empty %}
  <div class="related-products clrfix">
    <h4>
      Related Products
    </h4>

    {% for related_product in product.related_products %}
      {% include 'product' with related_product %}
    {% endfor %}

    <script>
      $(function () {
        setup_carousels('.related-products .product .image-carousel');
        bind_product_body_clicker('.related-products', '.product');
      });
    </script>
  </div>
{% endif %}

<script>
  $(function () {


    // dirty hack for update custom select
    $('.line-items-reflective-view, .total-info').find('select').trigger('change');

    var priceUpdaterOptions = {
      url: '{{ product | product_url }}' + '/calculate_prices',
      //success: updateProductPrice,
      error: function () { console.log('error'); },
      triggersContainerSelector: '.line-items-reflective-view, .total-info',
      submitDelay: 100
    };
    var priceUpdater = new ProductPriceUpdater.UpdateHandler(priceUpdaterOptions);
    priceUpdater.triggerUpdate();

    $('table.product-summary input.amount, table.product-quantity input.amount, .product-options .multiple-quantity-product-option input.quantity').spinner({
      min: 0,
      stop: function () { $(this).change(); }
    });
  });
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();

</script>

<div id="fb-root">
</div>

<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  $(function () {
    setup_carousels('.featured-products .product .image-carousel');
    bind_product_body_clicker('.featured-products', '.product');

    bindProductImagePreview();
    bindProductLogosPreview({{ product.id }});
  });
</script>
