{% if facet.selected == true %}		
<a href="{{ facet.remove_filter_url }}" class='selected' title='{{ facet.name | escape }} ({{ facet.count }} items)'>{{ facet.name | escape | truncate: 18 }} <span class='count'>({{ facet.count }})</span></a>
{% else %}
<a href="{{ facet.filter_url }}" title='{{ facet.name | escape }} ({{ facet.count }} items)'>{{ facet.name | escape | truncate: 18 }} <span class='count'>({{ facet.count }})</span></a>
{% endif %}
{% if facet.hierarchical and facet.children.size > 0 %}
<ul>
	{% for child in facet.children %}
	<li class="{% if child.selected == true %} open {% else %} closed {% endif %}">
		{% include 'facet' with child %}
	</li>
	{% endfor %}
</ul>	
{% endif %}