<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        RailsCasts Weekly
    </title>
    <style type="text/css">
        body, td {
            color: #555;
            font-size: 14px;
            font-family: Verdana, Helvetica, Arial, sans-serif;
        }
        p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
            color: #555;
            font-family: Verdana, Helvetica, Arial, sans-serif;
        }
        a, a:visited {
            color: #1414ff;
        }
        table {
            border: 0;
            border-collapse: collapse;
            max-width: 600px;
        }
        table td, table th {
            padding: 0;
        }
        table#background {
            width: 100%;
        }
        table#order-summary {
        }
        table#background table {
            width: 600px;
            margin: 0 auto;
        }
        table#background table tr.section-header {
            background-color: #326fb1;
            font-size: 14px;
            text-indent: 10px;
            font-weight: bold;
            color: #fff;
            vertical-align: middle;
        }
        table#background table tr.section-header td {
            padding: 7px 0;
        }
        table#background table tr.section-header td p {
            color: #fff;
            line-height: 16px;
            vertical-align: middle;
        }
        table#background table tr.section-header.right-aligned td p {
            text-align: right;
            margin-right: 10px;
        }
        table#order-information {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        table#order-information tr td {
            width: 300px;
        }
        table#order-information tr td h3 {
            text-indent: 15px;
        }
        table#order-information tr td p {
            margin: 3px 0;
            text-indent: 15px;
        }
        table#order-information tr {
            vertical-align: top;
        }
        table#order-information tr td.billing-information h3,
        table#order-information tr td.billing-information p {
            text-indent: 0;
        }
        table#order-information tr td div.payment-preview {
            max-width: 300px;
        }
        table#order-information tr td div.payment-preview span.credit-card-number {
            vertical-align: 9px;
            text-indent: 5px;
            padding-left: 5px;
        }
        table#order-information tr td div.payment-preview p.adjustment {
            display: block;
            margin: 1px 0 3px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        table#order-information tr td div.payment-preview p.adjustment.promotion {
            margin-bottom: 1px;
        }
        table#order-information tr td div.payment-preview p.adjustment.balance {
            margin-top: 10px;
        }
        table#order-summary {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        table#order-summary tr.line-item {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        table#order-summary tr.line-item td.product-info p.sub-option span.sub-option-name {
            text-transform:capitalize;
        }
        table#order-summary tr.line-item td.product-info p.logo span.logo-name {
          height: 32px;
          line-height: 32px;
          vertical-align: 7px;
          display: inline-block;
          max-width: 190px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        table#order-summary tr.line-item td.product-info p.logo span.logo-name.logo-title {
          min-width: 50px; width: 50px; max-width: 50px;
          text-transform: lowercase;
        }
        table#order-summary tr.line-item td.product-info p.logo span.logo-image {
          width: 48px;
          height: 32px;
          line-height: 32px;
          display: inline-block;
          position: relative;
        }
        table#order-summary tr.line-item td.product-info p.logo span.logo-image img {
          max-height: 32px;
          max-width: 48px;
          position: absolute;
          bottom: 0;
        }
        table#order-summary tr.line-item td.image-cell {
            width: 200px;
            max-width: 200px;
            text-align: center;
            vertical-align: middle;
        }
        table#order-summary tr.line-item td.image-cell img {
            display: block;
            max-width: 180px;
            height: auto;
            margin: 0 auto;
        }
        table#order-summary tr.line-item td.product-info {
            vertical-align: top;
            width: 300px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        table#order-summary tr.line-item td.product-info p {
            padding-top: 3px;
        }
        table#order-summary tr.line-item td.product-info p.line-item-quantity {
            margin-top: 10px;
        }
        table#order-summary tr.line-item td.product-info h3.product-title {
            color: #2c5987;
        }
        table#order-summary tr.line-item td.product-price {
            width: 100px;
            max-width: 100px;
            vertical-align: middle;
            font-weight: bold;
        }
        table#order-summary tr.line-item td.product-price p {
            text-align: right;
            margin-right: 10px;
        }
        table#order-summary tr.order-calculations {
            color: #2c5987;
        }
        table#order-summary tr.order-calculations p {
            margin-bottom: 2px;
        }
        table#order-summary tr.order-calculations td.titles {
            text-align: right;

            width: 300px;
            max-width: 300px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        table#order-summary tr.order-calculations td.titles p {
            width: 300px;
            max-width: 300px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        table#order-summary table#calculations-area {
          width: 600px; min-width: 600px; max-width: 600px;
        }
        table#calculations-area tr.calculation-item {
          color: #2c5987;
        }
        table#calculations-area tr.calculation-item.order-total {
          font-weight: bold;
        }
        table#calculations-area tr.calculation-item td {
          vertical-align: middle;
        }
        table#calculations-area tr.calculation-item td p {
          margin-bottom: 2px;
        }
        table#calculations-area tr.calculation-item td.title {
          text-align: right;
          width: 500px; min-width: 500px; max-width: 500px;
        }
        table#calculations-area tr.calculation-item td.title p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        table#calculations-area tr.calculation-item td.value {
          width: 100px; min-width: 100px; max-width: 100px;
        }
        table#calculations-area tr.calculation-item td.value p {
          text-align: right;
          margin-right: 10px;
        }
        table#main {
            border-collapse:separate;
            border-spacing:10px;
        }
        table#main td {
            margin-left: 15px;
        }
        table#main tr td.service {
            line-height: 40px;
            color: #646e23;
        }
        table#main tr td h1.email-title {
            color: #2c5987;
            font-style: italic;
        }
        table#main tr td h3.appeal-to-user {
            margin: 15px 0;
        }
    </style>
</head>
<body>
<table id="background">
<tr>
<td>
<table id="order-information">
    <tr>
        <td colspan="2">
            <h3>
                Customer information
            </h3>
            <p>
                First name: {{ customer.first_name }}
            </p>
            <p>
                Last name: {{ customer.last_name }}
            </p>
            <p>
                Email: <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
            </p>
            <br>
        </td>
    </tr>
</table>
<table>
    <tr class="section-header">
        <td>
            <p>
                Wishlist Summary
            </p>
        </td>
    </tr>
</table>
<table  id="order-summary">
    {% for line_item in wishlist.line_items %}
    {% assign product = line_item.product %}
    <tr class="line-item">
        <td class="image-cell">
            <img src="{% if product.primary_image %}{{ product.primary_image.thumb_url }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}" alt="{{ product.name }} image"/>
        </td>
        <td class="product-info">
            <h3 class="product-title">
                {{ product.name }}
            </h3>
            <p class="sub-option">
                <span class="sub-option-name">SKU#</span>
                <span class="sub-option-value">{{ product.sku }}</span>
            </p>
            {% for sub_option in line_item.product_sub_options %}
            <p class="sub-option">
                <span class="sub-option-name">{{ sub_option.product_option.friendly_name }}{% if sub_option.product_option.in_group? %} ({{ sub_option.product_option.group_name }}) {% endif %}:</span>
                <span class="sub-option-value">{{ sub_option.name }} {% if sub_option.amount > 0 %}<b>({{ sub_option.amount | points_or_currency }})</b>{% endif %}</span>
            </p>
            {% endfor %}
            {% if line_item.logo %}
            <p class="sub-option logo">
                <span class="sub-option-name logo-name logo-title">logo: </span>
                <span class="sub-option-value logo-image"><img src="{{ line_item.logo.front_thumb_url }}" alt="{{ line_item.logo.name }}"></span>
                <span class="sub-option-name logo-name">{{ line_item.logo.name }}</span>
            </p>
            {% endif %}
            {% for product_personalization in line_item.product_personalizations %}
            <br>
            <p class="product-personalization">
                <span class="title" style="font-weight: bold;">{{ product_personalization.title }} ({{ product_personalization.amount | points_or_currency }})</span>
                <br>
                {% for attribute in product_personalization.product_personalization_attributes %}
                <span class="attribute-key">{{ attribute.key }}:</span>
                {% if attribute.value != empty %}
                <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                {% else %}
                <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                {% endif %}
                <br>
                {% endfor %}
            </p>
            {% endfor %}
            <p class="line-item-quantity">
                Quantity: {{ line_item.quantity }}
            </p>
            {% if line_item.setup_charge and line_item.setup_charge > 0 %}
            <p class="line-item-quantity">
                Setup Charge: {{ line_item.setup_charge | points_or_currency }}
            </p>
            {% endif %}
        </td>
        <td class="product-price">
            <p>
                {{ line_item.total_price_with_quantity_discount | points_or_currency }}
            </p>
        </td>
    </tr>
    {% endfor %}
    <tr class="order-calculations">
        <td colspan="3">
          <table id="calculations-area">
            <tr class="calculation-item">
              <td class="title">
                <p>Total ({{ wishlist.line_items_count }} items):</p>
              </td>
              <td class="value">
                <p>{{ wishlist.item_total | points_or_currency }}</p>
              </td>
            </tr>
          </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>
