<div class="view-logo-label">
    <label>view logos</label>
</div>

{% capture view_logos_dialog %}
<div class='view-logo-dialog-content'>
    <div class="logo-images product-images">
        <div class="items">
            {% for image in product_images %}
            <div class="image-wrapper right-arrow item" data-image='{{ image.view_logo_preview_url }}' id='{{ image | dom_id }}' data-id="{{ image.id }}">
                <img src="{{ image.view_logo_thumb_url }}" />
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="logo-preview-area">
        <div class="image-wrapper">
            <img src="{{ product_images.first.view_logo_preview_url }}" />
        </div>
    </div>
    <div class="logo-images logos">
        <div class="items">
            {% for logo in logos %}
                {% include 'logo', logo: logo %}
            {% endfor %}
        </div>
    </div>
</div>
{% endcapture %}


<script>
    $(function(){
        $('div.logos-controller').data('controller',
            new window.ViewLogosController("{{ view_logos_dialog | escape_javascript }}", "{{ product.name | escape_javascript }}", {{ shop.custom_logos_upload_enabled? }}, "{{ new_logo_url | escape_javascript}}"));
      }
    );
</script>
