{% assign line_item = ff.object %}
{% assign product = line_item.product %}

<div class="cart-item {% if line_item.outdated? %}outdated{% endif %}">
    <div class="clrfix">
        <div class="item-image">
            <img src="{% if line_item.image %}{{ line_item.image.small_url }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}" />
        </div>
        <div class="item-description">
            <h3>
                {{ product.name }}
            </h3>

            <!-- SKU -->
            <p><strong>SKU:</strong> {{ line_item.final_sku }} </p>

            <!-- VENDORS -->
            <!-- {% if product.vendors != empty %}
            <p>
                by {{ product.vendor_names }}
            </p>
            {% endif %} -->

            <p>
                {% form_field 'ff.error', 'quantity' %}
            </p>

            <!-- INLINE PRODUCT OPTIONS -->
              <div class="product-options">
                  {% if line_item.ordered_modifications != empty %}
                    {% for choice in line_item.grouped_choices %}
		                {% assign group = choice.product_option_group %}
		                {% assign option = choice.product_option %}

		                <div class="product-option-grouping-element container">
		                    {% if group and group.product_options != empty %}
		                        {% include 'product_option_group_attributes' group: group, line_item: line_item %}
		                    {% elsif option %}
		                        {% include 'product_option_attributes' option: option, line_item: line_item %}
		                    {% endif %}
		                </div>
                    {% endfor %}
                  {% endif %}

                  {% if line_item.logo %}
                    <div class="section logo">
                        {% include 'logo_attributes' logo: line_item.logo %}
                    </div>
                  {% endif %}
                </div>


                {% if line_item.product_personalizations != empty %}
                    <a href="javascript:void(0)" class="item-options">Show additional item information</a>
                    <a href="javascript:void(0)" class="hide-item-options">Hide additional item information</a>
                    <div class="hidden-options">
                      {% include 'line_item_attributes' line_item: line_item %}
                    </div>
                {% endif %}
        </div>

        <div class="item-price">
            <div>
                {{ line_item.total_price_with_quantity_discount | points_or_currency }}
            </div>
            <p>
                <span>Item price</span>
                {{ line_item.price_with_quantity_discount | points_or_currency }}
            </p>
            <!-- STOCK -->
            <p>{{ line_item.display_stock }}</p>
            {% if line_item.has_quantity_discount? %}
                <p>
                    <span>Base price</span>
                    {{ line_item.price_with_quantity_discount | minus: line_item.options_price | points_or_currency }}
                </p>
                {% endif %}
                {% if line_item.setup_charge and line_item.setup_charge != 0 %}
                <p class='setup-charge'>
                    <span>Setup charge</span>
                    {{ line_item.setup_charge | points_or_currency }}
                </p>
            {% endif %}
        </div>


        <div class="item-quantity">
            {% if line_item.has_quantity_errors %}
                {% form_field 'ff.text_field', 'quantity', { "class": "quantity custom-input-text clearHint error" }%}
            {% else %}
                {% form_field 'ff.text_field', 'quantity', { "class": "quantity custom-input-text clearHint" }%}
            {% endif %}

            {% form_field 'ff.hidden_field', 'id' %}
            <button class="btn update-item">Update</button>
            <a href="#" class="btn_remove remove-item"
               onclick="$(this).siblings('.quantity').val(0); $(this).parents('form').submit();">Remove</a>
        </div>
    </div>
</div>
