<div class="carousel">
    <div id="carousel-wrapper">
        <div id="carousel">
            <a id="carousel-prev" class="prev browse left" title="Previous slide"><span class="arrow ir"></span></a>
            <a id="carousel-next" class="next browse right" title="Next slide"><span class="arrow ir"></span></a>
            <ol class="items">
                {% if settings.show_SNature_Header_V3.png %}
                <li>
                    {% if settings.SNature_Header_V3_link != empty %}
                    {{ 'SNature_Header_V3.png' | asset_url | img_tag: settings.SNature_Header_V3_alt | link_to: settings.SNature_Header_V3_link }}
                    {% else %}
                    {{ 'SNature_Header_V3.png' | asset_url | img_tag: settings.SNature_Header_V3_alt }}
                    {%endif%}
                    {% if settings.SNature_Header_V3_alt.size != 0 %}<div class="carousel-item-caption"><span>{{ settings.SNature_Header_V3_alt }}</span></div>{% endif %}
                </li>
                {% endif %}
                {% if settings.show_carousel_item_2 %}
                <li>
                    {% if settings.carousel_item_2_link != empty %}
                    {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt | link_to: settings.carousel_item_2_link }}
                    {% else %}
                    {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt }}
                    {%endif%}
                    {% if settings.carousel_item_2_alt.size != 0 %}<div class="carousel-item-caption"><span>{{ settings.carousel_item_2_alt }}</span></div>{% endif %}
                </li>
                {% endif %}
                {% if settings.show_carousel_item_3 %}
                <li>
                    {% if settings.carousel_item_3_link != empty %}
                    {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt | link_to: settings.carousel_item_3_link }}
                    {% else %}
                    {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt }}
                    {%endif%}
                    {% if settings.carousel_item_3_alt.size != 0 %}<div class="carousel-item-caption"><span>{{ settings.carousel_item_3_alt }}</span></div>{% endif %}
                </li>
                {% endif %}
                {% if settings.show_carousel_item_4 %}
                <li>
                    {% if settings.carousel_item_4_link != empty %}
                    {{ 'carousel-item-04.jpg' | asset_url | img_tag: settings.carousel_item_4_alt | link_to: settings.carousel_item_4_link }}
                    {% else %}
                    {{ 'carousel-item-04.jpg' | asset_url | img_tag: settings.carousel_item_4_alt }}
                    {%endif%}
                    {% if settings.carousel_item_4_alt.size != 0 %}<div class="carousel-item-caption"><span>{{ settings.carousel_item_4_alt }}</span></div>{% endif %}
                </li>
                {% endif %}
                {% if settings.show_carousel_item_5 %}
                <li>
                    {% if settings.carousel_item_5_link != empty %}
                    {{ 'carousel-item-05.jpg' | asset_url | img_tag: settings.carousel_item_5_alt | link_to: settings.carousel_item_5_link }}
                    {% else %}
                    {{ 'carousel-item-05.jpg' | asset_url | img_tag: settings.carousel_item_5_alt }}
                    {%endif%}
                    {% if settings.carousel_item_5_alt.size != 0 %}<div class="carousel-item-caption"><span>{{ settings.carousel_item_5_alt }}</span></div>{% endif %}
                </li>
                {% endif %}
            </ol>
        </div>
        {% if settings.show_carousel_dots %}
        <div id="carousel-slide-menu">
        </div>
        {% endif %}
    </div>
</div>
