<div class="product" data-product-url="{{ featured_product | product_url }}">
    <div class="image-container image-carousel">
        {% if featured_product.images != empty %}
        <ul>
            {% for image in featured_product.images %}
            <li {% if image.image_url == featured_product.thumbnail_image.image_url %}class="start"{% endif %}>
            <img src="{{ image.small_url }}"/>
            </li>
            {% endfor %}
        </ul>
        {% if featured_product.images.size > 1 %}
        <a href="javascript:void(0)" onclick="$(this).closest('.image-carousel').jcarousel('scroll', '-=1');"
           class="carousel-prev"></a>
        <a href="javascript:void(0)" onclick="$(this).closest('.image-carousel').jcarousel('scroll', '+=1');"
           class="carousel-next"></a>
        {% endif %}
        {% else %}
        <img src="{{ 'no-image.jpg' | asset_url }}"/>
        {% endif %}
    </div>
    {% if featured_product.discount > 0 %}
    <div class="product-discount">
        <label>{{ featured_product.discount | round }}% off</label>
    </div>
    {% endif %}
    <div class="footer">
        <div class="product-label">
            <label class="product-name truncated"><a href="{{ featured_product | product_url }}" class="truncated">{{ featured_product.name }}</a></label>
            <label class="product-price">{{ featured_product.total_price | points_or_currency }}</label>
        </div>
        <label class="view-product">view this product</label>
    </div>
</div>
