<div class="hidden-section">
    {% for line_item in line_items %}
    {% assign line_item_index = forloop.index0 %}
    <div class="line-item">
        {% if product.enable_product_options? %}
        <div class="product-options">
            {% for choice in line_item.choices %}
            {% assign choice_index = forloop.index0 %}
            <input type="hidden" name="product[{{ line_item_index }}][choices][{{ choice_index }}][product_option_id]" value="{{ choice.origin_product_option_id }}"/>
            <input type="hidden" data-type="product-option" data-id="{{ choice.origin_product_option_id }}" name="product[{{ line_item_index }}][choices][{{ choice_index }}][product_sub_option_id]" value="{{ choice.origin_product_sub_option_id }}"/>
            <span data-type="product-option-error" data-id="{{ choice.origin_product_option_id }}">{{ choice.errors['product_sub_option'] }}</span>

            {% if choice.product_option_origin.multiple_quantity? %}
            {% assign quantity_input_id = choice.origin_product_sub_option_id %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if product.enable_product_personalization? %}
        <div class="product-personalization">
            {% for form in line_item.product_personalizations %}
            {% capture personalization_path %}product[{{ line_item_index }}]{% endcapture %}
            {% render_product_personalization_form form, attributes_path: personalization_path %}
            {{ form.hidden_fields }}
            {% for input in form.inputs %}
            {{ input.hidden_fields }}
            {% render_product_personalization_input input, {"data-id": "{{input.form_input_id}}", "data-type": "product-personalization" } %}
            {% endfor %}
            {% endrender_product_personalization_form %}
            {% endfor %}
        </div>
        {% endif %}

        {% if logos.size > 0 %}
        <div class="product-virtual-logo">
            <input type="hidden" data-type="virtual-logo" name="product[{{ line_item_index }}][logo_id]" value="{{ line_item.logo_id }}"/>
        </div>
        {% endif %}

        <input type="hidden" data-id="{{ quantity_input_id }}" data-type="quantity" name="product[{{ line_item_index }}][quantity]" value="{{ line_item.quantity }}"/>
    </div>
    {% endfor %}
</div>
