{% if product.enable_product_personalization? and line_item.product_personalizations != empty %}
<div class="prod_option_block">
    <h3>Product Personalizations</h3>
    <div class="product-personalization">
        {% for form in line_item.product_personalizations %}
        {% capture personalization_path %}product[{{ line_item_index }}]{% endcapture %}
        {% render_product_personalization_form form, attributes_path: "product[]" %}
        <h4>{{ form.title }}{% if form.amount > 0 %} ({% if form.amount > 0 %}+{% endif %}{{ form.amount | points_or_currency }}){% endif %}</h4>
        {{ form.hidden_fields }}
        {% for input in form.inputs %}
        <div class='form-item'>
            {{ input.hidden_fields }}
            <label for='{{ input.label_for }}'>{{ input.label }}{% if input.required? %} *{% endif %}</label>
            {% render_product_personalization_input input, {"data-id": "{{input.form_input_id}}", "data-type": "product-personalization"} %}
        </div>
        {% endfor %}
        {% endrender_product_personalization_form %}
        {% endfor %}
    </div>
</div>
{% endif %}
