<div class="checkout-summery">
    <div class="summary-item">
        <h3>Order Summary</h3>
        <table class="order-summary">
            <tr>
                <th>items subtotal</th>
                <td>{{ order.item_total | points_or_currency }}</td>
            </tr>
            {% if order.total_setup_charge > 0 %}
            <tr>
                <th>total setup charge</th>
                <td>{{ order.total_setup_charge | points_or_currency }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>shipping & handling</th>
                <td>{{ order.shipment_rate | points_or_currency }}</td>
            </tr>
            {% if order.tax_enabled? %}
                <tr>
                    <td colspan="2" class="line"><i></i></td>
                </tr>
                <tr>
                    <th>total before tax</th>
                    <td>{{ order.before_tax_total | points_or_currency }}</td>
                </tr>
                <tr>
                    <th>sales tax</th>
                    <td>{{ order.total_tax | points_or_currency }}</td>
                </tr>
            {% endif %}
            {% if order.has_promotional_adjustments? %}
                <tr>
                    <td colspan="2" class="line"><i></i></td>
                </tr>
                {% for adjustment in order.promotion_adjustments %}
                    <tr>
                        <th style="text-transform: lowercase;" title="{{ adjustment.note }}">{{ adjustment.note | truncate: 15 }}</th>
                        <td>{{ adjustment.amount | points_or_currency }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>total discount</th>
                    <td>{{ order.promo_total | points_or_currency }}</td>
                </tr>
            {% endif %}

            {% if order.has_balance_adjustments? %}
            <tr>
                <th>balance total</th>
                <td>{{ order.balance_total | points_or_currency }}</td>
            </tr>
            {% endif %}

            {% if order.has_custom_data_collections? %}
            <tr>
                <th>{{ cart_options.custom_data_collections_name }}</th>
                <td>{{ order.custom_data_collections_total | points_or_currency }}</td>
            </tr>
            {% endif %}

            <tr>
                <td colspan="2" class="line"><i></i></td>
            </tr>
            <tr class="grand-total">
                <th>grand total</th>
                <td>{{ order.grand_total | points_or_currency }}</td>
            </tr>
        </table>
    </div>
    <div class="summary-item">
        <h3>Item Summary</h3>
        <table class="item-summary">
            {% for line_item in order.line_items %}
            <tr>
                <th>{{ line_item.name }}</th>
                <td>{{ line_item.total_price_with_quantity_discount | points_or_currency }}</td>
            </tr>
            <tr>
                <td colspan="2" class="line"><i></i></td>
            </tr>
            {% endfor %}
            <tr class="sub-total">
                <th>subtotal</th>
                <td>{{ order.item_total | points_or_currency }}</td>
            </tr>
        </table>
        {% if order.completed? == false %}
        <a href="{{ cart_url }}" class="button edit-cart"/>
        {% endif %}
    </div>

    {% if order.completed? == false %}

    <div class="summary-info place-order-holder">
        {% if order.state == 'confirm' %}
            {% form 'checkout', context_name: 'f', for: 'order' %}
                <input type="submit" value="Place Order Now" class="btn button green-button complete-checkout-button" id="place-order-button"/>
            {% endform %}
            <!--<p class="complete-link-instruction">-->
                <!--By clicking place order now you agree to PECAA <a href="#">Sales & Refund Policy</a>.-->
            <!--</p>-->
        {% else %}
            please complete the shipping and payment sections to finish your order
        {% endif %}
    </div>
    {% endif %}
</div>
