
<div class="slippry_wrapper">

    <div class="carousel_over">
        <h1>Welcome to ShopBlackstone</h1>
    </div>

    <ol id="slippry_slideshow">
        {% if settings.show_carousel_item_1 %}
        <li>
            {% if settings.carousel_item_1_link != empty %}
            {{ 'carousel-item-01.jpg' | asset_url | img_tag: settings.carousel_item_1_alt | link_to: settings.carousel_item_1_link }}
            {% else %}
            {{ 'carousel-item-01.jpg' | asset_url | img_tag: settings.carousel_item_1_alt }}
            {%endif%}
            
        </li>
        {% endif %}
        {% if settings.show_carousel_item_2 %}
        <li>
            {% if settings.carousel_item_2_link != empty %}
            {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt | link_to: settings.carousel_item_2_link }}
            {% else %}
            {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt }}
            {%endif%}
            
        </li>
        {% endif %}
        {% if settings.show_carousel_item_3 %}
        <li>
            {% if settings.carousel_item_3_link != empty %}
            {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt | link_to: settings.carousel_item_3_link }}
            {% else %}
            {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt }}
            {%endif%}
            
        </li>
        {% endif %}
    </ol>

    <div class="slideshow_boxes clrfix">
        <div class="row clrfix">
            <div class="col col_4 boxlink">
                <a href="{{ settings.box_1_link }}">
                    <p>{{ settings.slide_1_paragraph }}</p>
                    <h1>{{ settings.slide_1_header }}</h1>
                </a>
            </div>

            
            <div class="col col_4 boxlink">
                <a href="{{ settings.box_3_link }}">
                    <p>{{ settings.slide_3_paragraph }}</p>
                    <h1>{{ settings.slide_3_header }}</h1>
                </a>
            </div>
        </div>

        <div class="row clrfix">
			<div class="col col_4 boxlink">
                <a href="{{ settings.box_2_link }}">
                    <p>{{ settings.slide_2_paragraph }}</p>
                    <h1>{{ settings.slide_2_header }}</h1>
                </a>
            </div>

            <div class="col col_4 boxlink">
                <a href="{{ settings.box_4_link }}">
                    <p>{{ settings.slide_4_paragraph }}</p>
                    <h1>{{ settings.slide_4_header }}</h1>
                </a>
            </div>

        </div>
    </div>

</div>

<h2 class="currency-msg">All amounts are in US currency</h2>