<table id="background">
    <tr>
        <td>
            <table id="main">
                <tr>
                    <td width="300">
                        <div style="
                         
                          display:block;
                          float: left;"><img style=" width: {% if settings.logo_width != empty %}{{ settings.logo_width }}{% else %}auto{% endif %};
                          height: {% if settings.logo_height != empty %}{{ settings.logo_height }}{% else %}auto{% endif %};" src="{{ settings.logo_bg_image | asset_url }}"/>
                        </div>
                    </td>
                    <td  width="300" class="service">
						{% if store.primary_phone %}
							Questions? {{ store.primary_phone | number_to_phone }}
						{% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="welcome-message">
                        {% if order.moas_pending? %}
                            <p class="moas-pending">
                                Thank you for your order! Your order has been sent for approval. You will get a confirmation email if your order is approved.
                            </p>
                        {% else %}
                            <p>
                                Thank you for your order at {{ store.name }}. You can check the status of your order any
                                time by <a href="{{ login_url }}">logging into your account</a>.
                            </p>
                        {% endif %}
                    </td>
                </tr>
                
            </table>
            <table id="order-information">
                <tr class="section-header">
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" colspan="2">
                        <p>
                            Order Information
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
						<p>
							<strong>Order Number:</strong> {{ order.order_id }}
						</p>
                        <p>
                            <strong>Date:</strong> {{ order.completed_at | date: "%a, %b %d, %Y  %I:%M%p (%Z)" }}
                        </p>

                        <p>
                            <strong>Total:</strong> {{ order.grand_total | points_or_currency }}
                        </p>
                    </td>
                    <td colspan="1" style="vertical-align:middle;">
                        <p>
                            <strong>Ordered By:</strong>
								{% if order.customer.first_name %}
									{{ order.customer.first_name }} {{ order.customer.last_name }}
								{% else %}
									{{ order.customer_email }}
								{% endif %}
							
                        </p>
						<p>
                            <strong>Shipping method:</strong> {{ order.shipment_friendly_name }}
                        </p>
                        {% if order.shipment and order.shipment.tracking_number and order.shipment.tracking_number !=
                        empty %}
                        <p>
                            <strong>Tracking number:</strong><a href="http://www.fedex.com/Tracking?action=track&tracknumbers={{ order.shipment | tracking_link }}" target="_blank"> {{ order.shipment | tracking_link }}</a>
                        </p>
                        {% endif %}
                    </td>
                </tr>                
                <tr>
                    <td>
                        <p>
                            <strong>Shipped To:</strong>
                        </p>

                        <p>
                            {{ order.shipping_contact.name }}
                        </p>

                        <p>
                            {{ order.shipping_address.first_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.second_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.city }}, {{ order.shipping_address.state }}, {{ order.shipping_address.zip }}
                        </p>

                        <p>
                            {{ order.shipping_address.country }}
                        </p>
                        
                    </td>
                    <td class="billing-information">
                        <p>
                            <strong>Billed To:</strong>
                        </p>

                        <p>
                            {{ order.billing_contact.name }}
                        </p>

                        <p>
                            {{ order.billing_address.first_address }}
                        </p>

                        <p>
                            {{ order.billing_address.second_address }}
                        </p>

                        <p>
                            {{ order.billing_address.city }}, {{ order.billing_address.state }}, {{ order.billing_address.zip }}
                        </p>

                        <p>
                            {{ order.billing_address.country }}
                        </p>

                    </td>
                </tr>
				{% if order.custom_data_collections != empty %}
                <tr>
                    <td colspan="2">
                        <p>
                            <strong>
                                {% if cart_options.custom_data_collections_name %}{{ cart_options.custom_data_collections_name }}:{% endif %}
                            </strong>
                        </p>

                        <div style='margin-left: 10px; margin-top: 10px;'>
                            {% for custom_data_collection in order.custom_data_collections %}
                            <p class="custom-data-collection">

                            <p>
                                <strong>
                                    {{ custom_data_collection.title }} {% if custom_data_collection.amount > 0 %}({{ custom_data_collection.amount |
                                    points_or_currency }}){% endif %}
                                </strong>
                            </p>
                            {% for attribute in custom_data_collection.custom_data_attributes %}
                            <p style="padding-left: 10px;">
                                <span class="attribute-key"><strong>{{ attribute.key }}:</strong></span>
                                {% if attribute.value != empty %}
                                <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                                {% else %}
                                <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                                {% endif %}
                            </p>
                            {% endfor %}
                            </p>
                            <br>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </table>

            <br>

            <table id="order-summary">
                <tr class="section-header">
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" width=120>
                        <p style="margin: 3px 0px;">
                            Image
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" width=380>
                        <p style="margin: 3px 0px;">
                            Details
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" width=100>
                        <p style="margin: 3px 0px;">
                            Qty
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" width="100">
                        <p style="margin: 3px 0px;">
                            Total
                        </p>
                    </td>
                </tr>
                {% for line_item in order.line_items %}
                {% assign product = line_item.product %}
                <tr class="line-item">
					
					<td>
                        <table class="basic-info">
                            <tbody>
                                <tr>
                                    <td class="image-cell">										
                                        <img src="{% if product.primary_image %}{{ product.primary_image.thumb_url }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}" {% if product.primary_image == null %} width=100 {% endif %} alt="{{ product.name }} image"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="product-info">
						<p class="sub-option product-title">
                            {{ product.name }}
                        </p>
						
						<p class="sub-option">
							<span class="sub-option-name">SKU#</span> <span class="sub-option-value">{{ line_item.final_sku }}</span>
                        </p>
						
                        {% for sub_option in line_item.product_sub_options %}
                        <p class="sub-option">
                            <span class="sub-option-name">{{ sub_option.product_option.friendly_name }}{% if sub_option.product_option.in_group? %} ({{ sub_option.product_option.group_name }}) {% endif %}:</span>
                            <span class="sub-option-value">{{ sub_option.name }} {% if sub_option.amount > 0 %}<b>({{
                                sub_option.amount | points_or_currency }})</b>{% endif %}</span>
                        </p>
                        {% endfor %}
						
                        {% if line_item.logo %}
                        <p class="sub-option logo">
                            <span class="sub-option-name logo-name logo-title">Logo: </span>
                            <span class="sub-option-name logo-name">{{ line_item.logo.name }}</a>
                        </p>
                        {% endif %}
						
						{% if line_item.setup_charge and line_item.setup_charge > 0 %}
                        <p class="sub-option">
                            Setup Charge: {{ line_item.setup_charge | points_or_currency }}
                        </p>
                        {% endif %}
						
                        {% for product_personalization in line_item.product_personalizations %}
                        <p class="product-personalization">
                            <span class="title" style="font-weight: bold;">{{ product_personalization.title }} ({{ product_personalization.amount | points_or_currency }})</span>
                            <br>
                            {% for attribute in product_personalization.product_personalization_attributes %}
                            <span class="attribute-key">{{ attribute.key }}:</span>
                            {% if attribute.value != empty %}
                            <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                            {% else %}
                            <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                            {% endif %}
                            {% endfor %}
                        </p>
                        {% endfor %}                       
                        
                    </td>
                    <td class="order-quantity">
                        <p class="line-item-quantity">
                            {{ line_item.quantity }}
                        </p>
                    </td>
                    <td class="product-price">
                        <p>
                            {{ line_item.total_price_with_quantity_discount | points_or_currency }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Item Subtotal:</p>
					</td>
					<td class="value">
						<p>{{ order.item_total | points_or_currency }}</p>
					</td>
				</tr>
				
				{% if order.total_setup_charge > 0 %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Setup Charges:</p>
					</td>
					<td class="value">
						<p>{{ order.total_setup_charge | points_or_currency }}</p>
					</td>
				</tr>
				{% endif %}
				
				<!-- {% if order.custom_data_collections_total > 0 %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Custom Data Collections Total:</p>
					</td>
					<td class="value">
						<p>{{ order.custom_data_collections_total | points_or_currency }}</p>
					</td>
				</tr>
				{% endif %}	-->		
				
				{% for custom_data_collection in order.custom_data_collections %}
				{% if custom_data_collection.amount > 0 %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>{{ custom_data_collection.title }}:</p>
					</td>
					<td class="value">
						<p>{{ custom_data_collection.amount | points_or_currency }}</p>
					</td>
				</tr>
				{% endif %}
				
				{% endfor %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Shipping ({{ order.shipment_friendly_name }}):</p>
					</td>
					<td class="value">
						<p>{{ order.shipment_rate | points_or_currency }}</p>
					</td>
				</tr>
				
				{% if order.total_tax > 0 %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Tax:</p>
					</td>
					<td class="value">
						<p>{{ order.total_tax | points_or_currency }}</p>
					</td>
				</tr>
				{% endif %}		
				
				<tr class="calculation-item order-total">
					<td class="title" colspan=3>
						<p>Order Subtotal:</p>
					</td>
					<td class="value">
						<p>{{ order.order_total | points_or_currency }}</p>
					</td>
				</tr>
				
				{% if order.promo_total < 0 or true %}
				<tr class="calculation-item">
					<td class="title" colspan=3>
						<p>Coupon Savings:</p>
					</td>
					<td class="value">
						<p>{{ order.promo_total | points_or_currency }}</p>
					</td>
				</tr>
				{% endif %}		
				
				<tr class="calculation-item order-total">
					<td class="title" colspan=3>
						<p>Order total:</p>
					</td>
					<td class="value">
						<p>{{ order.grand_total | points_or_currency }}</p>
					</td>
				</tr>
				
				{% for payment in order.payments %}
				<tr class="calculation-item order-payments">							
					<td class="title" colspan=3>
					{% if payment.type == "Custom Payment" %}
						<p>{{payment.payment_name}} ({{ payment.custom_payment_value }}):</p>
					{% elsif payment.type == "Credit Card" %}
						<p>Credit Card #{{ payment.credit_card_lastfour }}:</p>
					{% elsif payment.type == "Balance" %}
						<p>Account Balance Used:</p>
					{% else %}
						<p>{{ payment.type }}:</p>
					{% endif %}

					</td>
					<td class="value">
						<p>-{{ payment.amount }}</p>
					</td>							
				</tr>
				{% endfor %}             
            </table>            
        </td>
    </tr>
</table>
