<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        RailsCasts Weekly
    </title>
    <style type="text/css">
        body, td {
            color: #555;
            font-size: 14px;
            font-family: Verdana, Helvetica, Arial, sans-serif;
        }
        p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
            color: #555;
            font-family: Verdana, Helvetica, Arial, sans-serif;
        }
        a, a:visited {
            color: #1414ff;
        }
        table {
            border: 0;
            border-collapse: collapse;
            max-width: 600px;
        }
        table td, table th {
            padding: 0;
        }
        table#background {
            width: 100%;
        }
        table#background table {
            width: 600px;
            margin: 0 auto;
        }
        table#background table tr.section-header {
            background-color: #326fb1;
            font-size: 14px;
            text-indent: 10px;
            font-weight: bold;
            color: #fff;
            vertical-align: middle;
        }
        table#background table tr.section-header td {
            padding: 7px 0;
        }
        table#background table tr.section-header.footer td {
            height: 18px;
        }
        table#background table tr.section-header td p {
            color: #fff;
            line-height: 16px;
            vertical-align: middle;
        }
        table#background table tr.section-header.footer td p {
            min-height: 18px;
            height: 18px;
        }
        table#background table tr.section-header.right-aligned td p {
            text-align: right;
            margin-right: 10px;
        }
        table#order-information {
            border-collapse: separate;
            border-spacing: 0 10px;
        }
        table#order-information tr td {
            width: 300px;
        }
        table#order-information tr td h3 {
            text-indent: 15px;
        }
        table#order-information tr td p {
            margin: 3px 0;
            text-indent: 15px;
        }
        table#order-information tr {
            vertical-align: top;
        }
        table#order-information tr td.billing-information h3,
        table#order-information tr td.billing-information p {
            text-indent: 0;
        }
        table#main {
            border-collapse:separate;
            border-spacing:10px;
        }
        table#main td {
            margin-left: 15px;
        }
        table#main tr td.service {
            line-height: 40px;
            color: #646e23;
        }
        table#main tr td h1.email-title {
            color: #2c5987;
            font-style: italic;
        }
        table#main tr td h3.appeal-to-user {
            margin: 15px 0;
        }
    </style>
</head>
<body>
<table id="background">
    <tr>
        <td>
            <table id="main">
                <tr>
                    <td class="service">
                        Customer Service {{ store.primary_phone | number_to_phone }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="email-title">
                            Thank you for your order!
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 class="order-title">
                            Order Number:
                            <p>{{ order.order_id }}</p>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="appeal-to-user">
                            Hi, {{ user_name }}!
                        </h3>
                        <p>
                          Your order from "{{ store.name }}" has been shipped! Please see the below tracking number for details.
                        </p>
                    </td>
                </tr>
            </table>
            <table id="order-information">
                <tr class="section-header">
                    <td colspan="2">
                        <p>
                            Your Shipping Information
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Shipping Method: {{ shipment.shipment_friendly_name }}</p>

                        {% if order.shipment and order.shipment.tracking_number and order.shipment.tracking_number !=
                        empty %}
                        <p>
                            <strong>Tracking number:</strong><a href="http://www.fedex.com/Tracking?action=track&tracknumbers={{ order.shipment | tracking_link }}" target="_blank"> {{ order.shipment | tracking_link }}</a>
                        </p>
                        {% endif %}

                        <p>Shipping State: {{ shipment.state }}</p>
                    </td>
                </tr>
            </table>
            <table><tr class="section-header footer"><td><p></p></td></tr></table>
        </td>
    </tr>
</table>
</body>
</html>
