{% assign order = order_history_item %}
<tr>
    <td class="date">{{ order.completed_at }}</td>
    <td class="order-number">order #{{ order.order_id }}</td>
    <td class="shipped">{{ order.status | upcase }}</td>
    <td>
        <a href="javascript:void(0)" class="view-details">view order details</a>
        <a href="javascript:void(0)" class="hide-details">hide order details</a>
    </td>
    <td class="price">{{ order.grand_total | points_or_currency }}</td>
</tr>
<tr class="details">
    <td colspan="5">
        <div>
            <div class="details-block">
                <div class="details-top">
                    {% for line_item in order.line_items %}
                        <div>
                            <div class="details-top-main clrfix">
                                <a href="{{ line_item.product | product_url }}" class="details-header">{{ line_item.name }}{% if line_item.quantity > 1 %} x{{ line_item.quantity }}{% endif %}</a>
                                <span>{{ line_item.total_price | points_or_currency }}</span>
                                {% if line_item.product_personalizations != empty %}
                                    <a href="javascript:void(0)" class="view-sub-details">view item options</a>
                                    <a href="javascript:void(0)" class="hide-sub-details">hide item options</a>
                                {% endif %}
                            </div>
                            <div class="details-top-hidden hidden-options clrfix">
                                {% if line_item.product_personalizations != empty %}
                                    {% include 'line_item_attributes' line_item: line_item %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="clrfix">
                    {% assign address = order.shipping_address %}
                    <div class="details-block-item">
                        <div>
                            <h6>Shipping address</h6>
                            <p>{{ address.first_name }} {{ address.last_name }}</p>
                            <p>{{ address.first_address }}</p>
                            <p>{{ address.second_address }}</p>
                            <p>{{ address.city }}, {{ address.state }} {{ address.zip }}</p>
                            <p>{{ address.country }}</p>
                        </div>
                        <div>
                            {% if order.shipment %}
                            <h6>Shipping method</h6>
                            <p>{{ order.shipment_friendly_name }}</p>
                            {% endif %}
                        </div>
                        <div>
                            <h6>Tracking number</h6>
                            <p>
                                {% if order.shipment.tracking_number %}
                                    {{ order.shipment.tracking_number }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% assign address = order.billing_address %}
                    <div class="details-block-item">
                        <div>
                            <h6>Billing address</h6>
                            <p>{{ address.first_name }} {{ address.last_name }}</p>
                            <p>{{ address.first_address }}</p>
                            <p>{{ address.second_address }}</p>
                            <p>{{ address.city }}, {{ address.state }} {{ address.zip }}</p>
                            <p>{{ address.country }}</p>
                        </div>
                        {% assign payment = order.primary_payment.front_information %}
                        {% if payment %}
                        <div>
                            <h6>Billing method</h6>
                            <p>{{ payment.method }}</p>
                        </div>
                        <div>
                            {% render_payment_template order.primary_payment %}
                        </div>
                        {% endif %}
                    </div>
                    {% if order.has_promotional_adjustments? or order.has_balance_adjustments? %}
                    <div class="details-block-item">
                        <h6>Promotions</h6>
                        <table class="promotions">
                            {% if order.has_promotional_adjustments? %}
                            <tr>
                                <th>Coupons:</th>
                                <td>{{ order.promo_total | points_or_currency }}</td>
                            </tr>
                            {% endif %}

                            {% if order.has_balance_adjustments? %}
                            <tr>
                                <th>Balance:</th>
                                <td>{{ order.balance_total | points_or_currency }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                    {% endif %}

                    <div class="details-block-item amount-area">
                        <table>
                            <tr>
                                <th>Subtotal</th>
                                <td>{{ order.item_total | points_or_currency }}</td>
                            </tr>
                            <tr>
                                <th>Shipping & Handling</th>
                                <td>{{ order.shipment_rate | points_or_currency }}</td>
                            </tr>

                            {% if order.total_setup_charge > 0 %}
                            <tr>
                                <th>Total Setup Charge</th>
                                <td>{{ order.total_setup_charge | points_or_currency }}</td>
                            </tr>
                            {% endif %}

                            {% if order.has_custom_data_collections? %}
                            <tr>
                                <th>{{ cart_options.custom_data_collections_name }} total</th>
                                <td>{{ order.custom_data_collections_total | points_or_currency }}</td>
                            </tr>
                            {% endif %}

                            <tr class="sep-line"><td colspan="2"></td></tr>
                            <tr>
                                <th>Total before Tax</th>
                                <td>{{ order.before_tax_total | points_or_currency }}</td>
                            </tr>
                            <tr>
                                <th>Sales Tax</th>
                                <td>{{ order.total_tax | points_or_currency }}</td>
                            </tr>
                            <tr class="sep-line"><td colspan="2"></td></tr>
                            <tr>
                                <th><strong>Grand total</strong></th>
                                <td><strong>{{ order.grand_total | points_or_currency }}</strong></td>
                            </tr>

                        </table>
                    </div>
                    {% if order.custom_data_collections != blank %}
                    <div class="order-history-separator"></div>
                    {% include 'custom_data_attributes' order: order %}
                    {% endif %}
                </div>
            </div>
        </div>
    </td>
</tr>
