<div class="cart-page wishlist">
  <h1>
    Wish List
  </h1>

  {% form 'wishlist_update', context_name: 'f' %}
  <div id="cart-top">
      <div class="cart-buttons-container">

        {% if wishlist.line_items != empty %}

        <a href="#" class="btn_2 empty-cart custom-button">Clear Wish List</a>

        <span>or</span>

        {% endif %}

        {% assign most_recently_viewed_product = recently_viewed_products.first %}
        {% if most_recently_viewed_product %}
        <a href="{{ most_recently_viewed_product | product_url }}" class="btn_2 continue-shopping custom-button">Continue Shopping</a>
        {% else %}
        <a href="{{ root_url }}" class="continue-shopping">Continue Shopping</a>
        {% endif %}
      </div>
      <div id="cart-subtotal" class="clrfix">
          <div class="cart-total clrfix">
            <div class="subtotal">
              Total ({{ wishlist.line_items.size }} items) : <span>{{ wishlist.item_with_setup_charge_total | points_or_currency }}</span>
            </div>
            {% if shop.wishlist_quote_enabled? %}
              <a href="#" id="wishlist_quote_link" data-method='post' class="button btn">request quote</a>
              {% include 'wishlist_quote_dialog' %}
            {% endif %}
            {% if shop.store_enabled? %}
              <a href="{{ wishlist_to_cart_url }}" data-method='post' class="button btn">add all to cart</a>
            {% endif %}
          </div>
      </div>
  </div>

  <div class="shopping-cart">
    {% if wishlist.line_items != empty %}
    <div class="cart-header clrfix">
      <span class="item-details">Item Details</span>
      <span class="item-price">Total</span>
      <span class="item-quantity">Quantity</span>
    </div>

    {% form_block 'f.fields_for', context_name: 'ff', object_name: 'line_items' %}
      {% include 'wishlist_line_item_fields' %}
    {% endform_block %}

    <div class="zip-input">
      <!--
      <label>enter your zip code for updated shipping rates</label>
      <input type="text" class="custom-input-text clearHint with-hint" value="zip" rel="zip"/>
      -->
    </div>

    <div id="cart-subtotal" class="clrfix">
      <div class="cart-total clrfix">
        <div class="subtotal">
          Total ({{ wishlist.line_items.size }} items) : <span>{{ wishlist.item_with_setup_charge_total | points_or_currency }}</span>
        </div>
        {% if shop.wishlist_quote_enabled? %}
          <a href="#" id="wishlist_quote_link" data-method='post' class="button btn">request quote</a>
          {% include 'wishlist_quote_dialog' %}
        {% endif %}
        {% if shop.store_enabled? %}
          <a href="{{ wishlist_to_cart_url }}" data-method='post' class="button btn">add all to cart</a>
        {% endif %}
      </div>
    </div>

    {% else %}
    <p class="empty_cart">
      Your wish list is empty!
    </p>
    {% endif %}
  </div>
  {% endform %}

</div>
