<table id="background">
    <tr>
        <td>
            <table id="main">

                <tr>
                    <td width="300">
                        <div style="
                          width: {% if settings.logo_width != empty %}{{ settings.logo_width }}{% else %}auto{% endif %};
                          height: {% if settings.logo_height != empty %}{{ settings.logo_height }}{% else %}auto{% endif %};
                          display:block;
                          float: left;">{{ settings.logo_bg_image | asset_url | img_tag }}
                        </div>
                    </td>
                    <td  width="300" class="service">
                        Customer Service {{ store.primary_phone | number_to_phone }}
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <h1 class="email-title">
                            Thank you for your order!
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 class="order-title">
                            {{ store.name }} - Order Number
                            <a href="{{ account_dashboard_url }}">{{ order.order_id }}</a>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 class="appeal-to-user">
                            Hi, {{ user_name }}!
                        </h3>

                        {% if order.moas_pending? %}
                            <p style='color: red; text-align: center;'>
                                Thank you for your order! Your order has been sent for approval. You will get a confirmation email if your order is approved.
                            </p>
                        {% else %}
                            <p>
                                Thanks for your order at {{ store.name }}. You can check the status of your order(s) any
                                time by logging into your store <a href="{{ login_url }}">here</a>.
                            </p>
                        {% endif %}
                    </td>
                </tr>
                
            </table>
            <table id="order-information">
                <tr class="section-header">
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" colspan="2">
                        <p>
                            Order Information
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <p>
                            <strong>Date Ordered:</strong> {{ order.completed_at | full_date }}
                        </p>

                        <p>
                            <strong>Items Ordered:</strong> {{ order.line_items_count }}
                        </p>

                        <p>
                            <strong>Total:</strong> {{ order.grand_total | points_or_currency }}
                        </p>
                    </td>
                    <td colspan="1" style="vertical-align:middle;">
                        <p>
                            <strong>Ordered By:</strong> {{ user_name }}
                        </p>
                       <!--  <p>
                            <strong>Email:</strong> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                        </p>
                        <p>
                            <strong>Phone:</strong> {{ contact.phone }}
                        </p> -->
                    </td>
                </tr>
                {% if order.custom_data_collections != empty %}
                <tr>
                    <td colspan="2">
                        <p>
                            <strong>
                                {% if cart_options.custom_data_collections_name %}{{ cart_options.custom_data_collections_name }}:{% endif %}
                            </strong>
                        </p>

                        <div style='margin-left: 10px; margin-top: 10px;'>
                            {% for custom_data_collection in order.custom_data_collections %}
                            <p class="custom-data-collection">

                            <p>
                                <strong>
                                    {{ custom_data_collection.title }} {% if custom_data_collection.amount > 0 %}({{ custom_data_collection.amount |
                                    points_or_currency }}){% endif %}
                                </strong>
                            </p>
                            {% for attribute in custom_data_collection.custom_data_attributes %}
                            <p style="padding-left: 10px;">
                                <span class="attribute-key"><strong>{{ attribute.key }}:</strong></span>
                                {% if attribute.value != empty %}
                                <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                                {% else %}
                                <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                                {% endif %}
                            </p>
                            {% endfor %}
                            </p>
                            <br>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <p>
                            <strong>Shipped To:</strong>
                        </p>

                        <p>
                            {{ order.shipping_contact.name }}
                        </p>

                        <p>
                            {{ order.shipping_address.first_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.second_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.city }}, {{ order.shipping_address.state }}, {{ order.shipping_address.zip }}
                        </p>

                        <p>
                            {{ order.shipping_address.country }}
                        </p>

                        <br>

                        <p>
                            <strong>Shipping method:</strong> {{ order.shipment_friendly_name }}
                        </p>
                        {% if order.shipment and order.shipment.tracking_number and order.shipment.tracking_number !=
                        empty %}
                        <p>
                            <strong>Tracking number:</strong> {{ order.shipment | tracking_link }}
                        </p>
                        {% endif %}
                    </td>
                    <td class="billing-information">
                        <p>
                            <strong>Billed To:</strong>
                        </p>

                        <p>
                            {{ order.billing_contact.name }}
                        </p>

                        <p>
                            {{ order.billing_address.first_address }}
                        </p>

                        <p>
                            {{ order.billing_address.second_address }}
                        </p>

                        <p>
                            {{ order.billing_address.city }}, {{ order.billing_address.state }}, {{ order.billing_address.zip }}
                        </p>

                        <p>
                            {{ order.billing_address.country }}
                        </p>

                        <br>

                        {% assign payment = order.primary_payment.front_information %}
                        {% if payment %}
                        <p>
                            <strong>Billing Information</strong>
                        </p>

                        <p><strong>Method:</strong> {{ payment.method }}</p>
                        {% render_payment_template order.primary_payment %}
                        {% endif %}

                        {% render_adjustments_template %}
                    </td>
                </tr>
            </table>

            <br>

            <table id="order-summary">
                <tr class="section-header">
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}">
                        <p style="margin: 3px 0px;">
                            Product
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}">
                        <p style="margin: 3px 0px;">
                            Details
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}">
                        <p style="margin: 3px 0px; text-indent: 0px; padding: 0px 10px;">
                            Quantity
                        </p>
                    </td>
                    <td bgcolor="{{ settings.order_confirm_heading_bars_color }}" width="100">
                        <p style="margin: 3px 0px;">
                            Total
                        </p>
                    </td>
                </tr>
                {% for line_item in order.line_items %}
                {% assign product = line_item.product %}
                <tr class="line-item">

                    <td>
                        <table class="basic-info">
                            <tbody>
                                <tr>
                                    <td class="image-cell">
                                        <img src="{% if product.primary_image %}{{ product.primary_image.thumb_url }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}" alt="{{ product.name }} image"/>
                                    </td>
                                    <td>
                                        <p class="product-title">
                                            {{ product.name }}
                                        </p>
                                        <p class="sub-option">
                                            <span class="sub-option-name">SKU#</span>
                                            <span class="sub-option-value">{{ line_item.final_sku }}</span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="product-info">

                        
                        {% for sub_option in line_item.product_sub_options %}
                        <p class="sub-option">
                            <span class="sub-option-name">{{ sub_option.product_option.friendly_name }}{% if sub_option.product_option.in_group? %} ({{ sub_option.product_option.group_name }}) {% endif %}:</span>
                            <span class="sub-option-value">{{ sub_option.name }} {% if sub_option.amount > 0 %}<b>({{
                                sub_option.amount | points_or_currency }})</b>{% endif %}</span>
                        </p>
                        {% endfor %}
                        {% if line_item.logo %}
                        <p class="sub-option logo">
                            <span class="sub-option-name logo-name logo-title">Logo: </span>
                            <span class="sub-option-name logo-name">{{ line_item.logo.name }}</span>
                            <span class="sub-option-value logo-image"><img src="{{ line_item.logo.front_thumb_url }}"alt="{{ line_item.logo.name }}"></span>
                        </p>
                        {% endif %}
                        {% for product_personalization in line_item.product_personalizations %}
                        <br>

                        <p class="product-personalization">
                            <span class="title" style="font-weight: bold;">{{ product_personalization.title }} ({{ product_personalization.amount | points_or_currency }})</span>
                            <br>
                            {% for attribute in product_personalization.product_personalization_attributes %}
                            <span class="attribute-key">{{ attribute.key }}:</span>
                            {% if attribute.value != empty %}
                            <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                            {% else %}
                            <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                            {% endif %}
                            {% endfor %}
                        </p>
                        {% endfor %}
                        
                        {% if line_item.setup_charge and line_item.setup_charge > 0 %}
                        <p class="line-item-quantity">
                            Setup Charge: {{ line_item.setup_charge | points_or_currency }}
                        </p>
                        {% endif %}
                    </td>
                    <td class="order-quantity">
                        <p class="line-item-quantity">
                            {{ line_item.quantity }}
                        </p>
                    </td>
                    <td class="product-price">
                        <p>
                            {{ line_item.total_price_with_quantity_discount | points_or_currency }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
                
                <tr class="order-calculations">
                    <td colspan="4" style="padding: 0px; border:0px;">
                        <table id="calculations-area">
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Subtotal ({{ order.line_items_count }} items):</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.item_total | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% if order.total_setup_charge > 0 %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Total Setup Charge:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.total_setup_charge | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% endif %}
                            {% for custom_data_collection in order.custom_data_collections %}
                            {% if custom_data_collection.amount > 0 %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>{{ custom_data_collection.title }}:</p>
                                </td>
                                <td class="value">
                                    <p>{{ custom_data_collection.amount | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>{{ order.shipment_friendly_name }}:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.shipment_rate | points_or_currency }}</p>
                                </td>
                            </tr>
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Collected tax:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.total_tax | points_or_currency }}</p>
                                </td>
                            </tr>
                            <tr class="calculation-item order-total">
                                <td class="title">
                                    <p>Order total:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.order_total | points_or_currency }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table id="order-to-pay">
                <tr class="section-header right-aligned">
                    <td>
                        <p>
                            To pay: {{ order.grand_total | points_or_currency }}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
