<div class="slippry_wrapper">

    <ol id="slippry_slideshow">
		
        {% if settings.show_carousel_item_1 %}
        <li>
            {% if settings.carousel_item_1_link != empty %}
            {{ 'carousel-item-01.jpg' | asset_url | img_tag: settings.carousel_item_1_alt | link_to: settings.carousel_item_1_link }}
            {% else %}
            {{ 'carousel-item-01.jpg' | asset_url | img_tag: settings.carousel_item_1_alt }}
            {%endif%}
			
			<div class="intro">
				<h1>
					Welcome to the Optiv Company Store!
				</h1>
				
				<a href="/products" class="btn button">Shop Now</a>

				<p>
					Experience the premium service and quality merchandise of the brand new Optiv company store, as brought to you by ePromos Brand Solutions.
				</p>
				
			</div>
           
        </li>
        {% endif %}
        {% if settings.show_carousel_item_2 %}
        <li>
            {% if settings.carousel_item_2_link != empty %}
            {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt | link_to: settings.carousel_item_2_link }}
            {% else %}
            {{ 'carousel-item-02.jpg' | asset_url | img_tag: settings.carousel_item_2_alt }}
            {%endif%}     

        </li>
        {% endif %}
        {% if settings.show_carousel_item_3 %}
        <li>
            {% if settings.carousel_item_3_link != empty %}
            {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt | link_to: settings.carousel_item_3_link }}
            {% else %}
            {{ 'carousel-item-03.jpg' | asset_url | img_tag: settings.carousel_item_3_alt }}
            {%endif%}
        </li>
        {% endif %}
    </ol>

    <div class="slideshow_boxes clrfix">
		<div class="row clrfix">
			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FApparel">
					<p>{{ settings.slide_1_paragraph }}</p>
					<h1>{{ settings.slide_1_header }}</h1>
				</a>
			</div>

			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FBags+and+Luggage">
					<p>{{ settings.slide_2_paragraph }}</p>
					<h1>{{ settings.slide_2_header }}</h1>
				</a>
			</div>

			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FDesktop%2FOffice">
					<p>{{ settings.slide_3_paragraph }}</p>
					<h1>{{ settings.slide_3_header }}</h1>
				</a>
			</div>
		</div>
		<div class="row clrfix">
			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FDrinkware">
					<p>{{ settings.slide_4_paragraph }}</p>
					<h1>{{ settings.slide_4_header }}</h1>
				</a>
			</div>

			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FGifts">
					<p>{{ settings.slide_5_paragraph }}</p>
					<h1>{{ settings.slide_5_header }}</h1>
				</a>
			</div>

			<div class="col col_4 boxlink">
				<a href="/products?s%5Bf%5D%5Bc%5D%5B%5D=%2FTechnology">
					<p>{{ settings.slide_6_paragraph }}</p>
					<h1>{{ settings.slide_6_header }}</h1>
				</a>
			</div>
		</div>
    </div>

</div>
