<table id="background">
    <tr>
        <td>
            <table id="main">
                <tr>
                    <td class="service">
                        Customer Service {{ store.primary_phone | number_to_phone }}
                    </td>
                </tr>
                <tr>
                    <td>


                        <div style="
		  width: {% if settings.logo_width != empty %}{{ settings.logo_width }}{% else %}auto{% endif %};
		  height: {% if settings.logo_height != empty %}{{ settings.logo_height }}{% else %}auto{% endif %};
		  display:block;
		  float: left;">{{ settings.logo_bg_image | asset_url | img_tag }}
                        </div>


                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 class="email-title">
                            Thank you for your order!
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3 class="order-title">
                            Order Number:
                            <a href="{{ account_dashboard_url }}">{{ order.order_id }}</a>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 class="appeal-to-user">
                            Hi, {{ user_name }}!
                        </h3>

                        {% if order.moas_pending? %}
                            <p style='color: red; text-align: center;'>
                                Thank you for your order! Your order has been sent for approval. You will get a confirmation email if your order is approved.
                            </p>
                        {% else %}
                            <p>
                                Thanks for your order at {{ store.name }}. You can check the status of your order(s) any
                                time by logging into your store <a href="{{ login_url }}">here</a>.
                            </p>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <table id="order-information">
                <tr class="section-header">
                    <td colspan="2">
                        <p>
                            Your Purchasing Information
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>
                            Your order information:
                        </h3>

                        <p>
                            Items ordered: {{ order.line_items_count }}
                        </p>

                        <p>
                            Total: {{ order.grand_total | points_or_currency }}
                        </p>
                        <br>
                    </td>
                </tr>
                {% if order.custom_data_collections != empty %}
                <tr>
                    <td colspan="2">
                        <h3>
                            {{ cart_options.custom_data_collections_name }}:
                        </h3>

                        <div style='margin-left: 10px; margin-top: 10px;'>
                            {% for custom_data_collection in order.custom_data_collections %}
                            <p class="custom-data-collection">

                            <p style='font-weight: bold;'>
                                {{ custom_data_collection.title }} ({{ custom_data_collection.amount |
                                points_or_currency }})
                            </p>
                            {% for attribute in custom_data_collection.custom_data_attributes %}
                            <p style="padding-left: 10px;">
                                <span class="attribute-key">{{ attribute.key }}:</span>
                                {% if attribute.value != empty %}
                                <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                                {% else %}
                                <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                                {% endif %}
                            </p>
                            {% endfor %}
                            </p>
                            <br>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <h3>
                            Your Shipping and Billing information:
                        </h3>

                        <p>
                            Shipping method: {{ order.shipment_friendly_name }}
                        </p>
                        {% if order.shipment and order.shipment.tracking_number and order.shipment.tracking_number !=
                        empty %}
                        <p>
                            Tracking number: {{ order.shipment | tracking_link }}
                        </p>
                        {% endif %}
                        <p>
                            Date ordered: {{ order.completed_at | full_date }}
                        </p>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            Shipped to:
                        </h3>

                        <p>
                            {{ order.shipping_contact.name }}
                        </p>

                        <p>
                            {{ order.shipping_address.first_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.second_address }}
                        </p>

                        <p>
                            {{ order.shipping_address.address_city_line }}
                        </p>

                        <p>
                            {{ order.shipping_address.country }}
                        </p>
                    </td>
                    <td class="billing-information">
                        <h3>
                            Billed to:
                        </h3>

                        <p>
                            {{ order.billing_contact.name }}
                        </p>

                        <p>
                            {{ order.billing_address.first_address }}
                        </p>

                        <p>
                            {{ order.billing_address.second_address }}
                        </p>

                        <p>
                            {{ order.billing_address.address_city_line }}
                        </p>

                        <p>
                            {{ order.billing_address.country }}
                        </p>

                        <hr/>

                        {% if order.payments != empty %}
                          <h3>Billing methods</h3>
                          {% render_payment_template order.payments %}
                        {% endif %}

                        {% render_adjustments_template %}
                    </td>
                </tr>
            </table>
            <table>
                <tr class="section-header">
                    <td>
                        <p>
                            Your Order Summary
                        </p>
                    </td>
                </tr>
            </table>
            <table id="order-summary">
                {% for line_item in order.line_items %}
                {% assign product = line_item.product %}
                <tr class="line-item">
                    <td class="image-cell">
                        <img src="{% if product.primary_image %}{{ product.primary_image.thumb_url }}{% else %}{{ 'no-image.jpg' | asset_url }}{% endif %}"
                             alt="{{ product.name }} image"/>
                    </td>
                    <td class="product-info">
                        <h3 class="product-title">
                            {{ product.name }}
                        </h3>

                        <p class="sub-option">
                            <span class="sub-option-name">SKU#</span>
                            <span class="sub-option-value">{{ line_item.final_sku }}</span>
                        </p>
                        {% for sub_option in line_item.product_sub_options %}
                        <p class="sub-option">
                            <span class="sub-option-name">{{ sub_option.product_option.friendly_name }}{% if sub_option.product_option.in_group? %} ({{ sub_option.product_option.group_name }}) {% endif %}:</span>
                            <span class="sub-option-value">{{ sub_option.name }} {% if sub_option.amount > 0 %}<b>({{
                                sub_option.amount | points_or_currency }})</b>{% endif %}</span>
                        </p>
                        {% endfor %}
                        {% if line_item.logo %}
                        <p class="sub-option logo">
                            <span class="sub-option-name logo-name logo-title">logo: </span>
                            <span class="sub-option-value logo-image"><img src="{{ line_item.logo.front_thumb_url }}"
                                                                           alt="{{ line_item.logo.name }}"></span>
                            <span class="sub-option-name logo-name">{{ line_item.logo.name }}</span>
                        </p>
                        {% endif %}
                        {% for product_personalization in line_item.product_personalizations %}
                        <br>

                        <p class="product-personalization">
                            <span class="title" style="font-weight: bold;">{{ product_personalization.title }} ({{ product_personalization.amount | points_or_currency }})</span>
                            <br>
                            {% for attribute in product_personalization.product_personalization_attributes %}
                            <span class="attribute-key">{{ attribute.key }}:</span>
                            {% if attribute.value != empty %}
                            <span class="attribute-value">{{ attribute.value | join: ', ' }}</span>
                            {% else %}
                            <span class="attribute-value not-specified">&lt;not specified&gt;</span>
                            {% endif %}
                            <br>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <p class="line-item-quantity">
                            Quantity: {{ line_item.quantity }}
                        </p>
                        {% if line_item.setup_charge and line_item.setup_charge > 0 %}
                        <p class="line-item-quantity">
                            Setup Charge: {{ line_item.setup_charge | points_or_currency }}
                        </p>
                        {% endif %}
                    </td>
                    <td class="product-price">
                        <p>
                            {{ line_item.total_price_with_quantity_discount | points_or_currency }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
                <tr class="order-calculations">
                    <td colspan="3">
                        <table id="calculations-area">
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Subtotal ({{ order.line_items_count }} items):</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.item_total | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% if order.total_setup_charge > 0 %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Total Setup Charge:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.total_setup_charge | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% endif %}
                            {% for custom_data_collection in order.custom_data_collections %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>{{ custom_data_collection.title }}:</p>
                                </td>
                                <td class="value">
                                    <p>{{ custom_data_collection.amount | points_or_currency }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>{{ order.shipment_friendly_name }}:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.shipment_rate | points_or_currency }}</p>
                                </td>
                            </tr>
                            <tr class="calculation-item">
                                <td class="title">
                                    <p>Collected tax:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.total_tax | points_or_currency }}</p>
                                </td>
                            </tr>
                            <tr class="calculation-item order-total">
                                <td class="title">
                                    <p>Order total:</p>
                                </td>
                                <td class="value">
                                    <p>{{ order.order_total | points_or_currency }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>
